/* for a div */
.topbar{
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
}
.topbar table{
  width: 100%;
}
.topbar img{
  display: block;
  float: left;
}
.topbar p{
  padding: 0vh;
  margin: 0.5vh;
}
.topbar a {
  color: #333;
  text-decoration: none;
}
.topbar a:hover {
    background: #000;
    color: #eee;
}




/* for a table */
.courseinfo{
  border: 0;
  margin: 0;
  padding: 0;
  cellpadding: 0;
  cellspacing: 0;
}
.courseinfo td{
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.courseinfo img{
  height: 14vh;
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
}
.courseinfo p{
  margin: 0.5vh;
  padding: 0;
}





.mains{
  margin: 0 auto;
  width: 100%;
  max-width: 100vh;
}
.outer{
  margin: 0.5vh 0 0.5vh 0;
  border: 0.1vh solid #aaaaaa;
  border-radius: 5px;
  background-color: #f7f7f7;
  overflow: hidden;
}
.inner{
  margin: 1.5vh;
  padding: 0;
}

body{
  background-color: #eee;
  font-size: 2.5vh;
}


